*{ box-sizing: border-box;}

body {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 40px 0;
}

.post {
  background: white;
  width: 400px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.post-body {
  padding: 0 14px 14px;
  font-size: 14px;
  line-height: 1.3;
}

.post-body p {
  margin: 6px 0;
}


.post-img img{
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.post-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px 6px;
  font-size: 26px;
}

.icons-left{
  display: flex;
  gap: 10px;
}

.post-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}

.header-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-text{
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}

.header-left i{
  font-size: 26px;
}

.post-header .fa-ellipsis-vertical{
  font-size: 18px;
}